[submodule "Tests/Specs/Runner"]
	path = Tests/Specs/Runner
	url = git://github.com/mootools/mootools-runner.git
[submodule "Tests/Specs/mootools-core"]
	path = Tests/Specs/mootools-core
	url = git://github.com/mootools/mootools-core.git
