.waiter {
	position: 'absolute';
	opacity: 0.9;
	filter:alpha(opacity=90);
	zIndex: 999;
	background: #fff;
}
.waiter-msg {
	text-align: center;
	font-weight: bold;
}

.waiter-img {
	background: url('waiter.gif') no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}