.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(spinner.gif) no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}