.tip {
	color: #fff;
	width: 172px;
	z-index: 13000;
}

.tip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	padding: 8px 8px 4px;
	background: #777;
}

.tip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #777;
}
#moologo {
	background: #444;
	padding: 10px;
	border: 4px solid #f99;
}
